/* normalize css - removing all the margin/padding that gets added by the browser */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


body {
  background-image: url("https://raw.githubusercontent.com/bocacode/node-api-json-coffees/main/coffee-beans-bk.webp");
  background-size: contain;
  text-align: center;
  background-repeat: repeat-y;
}

.menu-items_item > img {
  border-radius: 1em;
  max-height: 400px;
}

.menu-items_item > img {
  border-radius: 50px;
  transition: width 2s;
}